<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
    <div class="view view-main">
        <div class="pages">
            <div data-page="appointment" class="page page-on-center appointment_page">
                <div class="page-content">
                    <% include ./_parts/top %>
                        <div class="main_content">
                            <!-- 导航栏 -->
                            <div class="nav-bar">
                                 <!-- 每页不同部分 -->
                                <div class="sewv nav-left">
                                    <!-- 此处内容显示当前页一级标题 -->
                                    <div class="sewvtop"><span><a href="javascript:;">私立幼儿园</a></span><em><img src="./img/sanjiao.png"></em></div>
                                    <ul class="sewvbm">
                                        <li class="nav01"><span>安柏教育</span></li>
                                        <li class="nav02"><span>长江0-3岁科学育儿国际研究院</span></li>
                                        <li class="nav03"><span>私立幼儿园</span></li>
                                        <li class="nav04"><span>培训学校</span></li>
                                    </ul>
                                </div>
                                <div class="sewv nav-right current">
                                    <div class="sewvtop"><span><a href="javascript:;">预约参观</a></span><em><img src="./img/sanjiao.png"></em></div>
                                    <ul class="sewvbm">
                                        <li><a href="./html/kindergarten/kindergarten.html">上海市静安区民办安蒙幼儿园</a></li>
                                        <li><a href="./html/appointment/appointment.html">预约参观</a></li>
                                    </ul>
                                </div>
                                <!-- 每页不同部分 -->
                                <!-- 固定部分 -->
                                <div class="sewv nav-right other-nav nav01">
                                    <div class="sewvtop "><span><a href="javascript:;">集团简介</a></span><em><img src="./img/sanjiao.png"></em></div>
                                    <ul class="sewvbm">
                                        <li><a href="./html/groupProfile/groupProfile.html">集团简介</a></li>
                                        <li><a href="./html/eduIdea/eduIdea.html">教育理念</a></li>
                                        <li><a href="./html/creater/creater.html">创始人说</a></li>
                                    </ul>
                                </div>
                                <div class="sewv nav-right other-nav nav02">
                                    <div class="sewvtop"><span><a href="javascript:;">育儿书籍推荐</a></span><em><img src="./img/sanjiao.png"></em></div>
                                    <ul class="sewvbm">
                                        <li><a href="./html/book/book.html">育儿书籍推荐</a></li>
                                        <li><a href="./html/listen/listen.html">感统音乐课程</a></li>
                                        <li><a href="./html/sence/sence.html">科学育儿课程</a></li>
                                    </ul>
                                </div>
                                <div class="sewv nav-right other-nav nav03">
                                    <div class="sewvtop"><span><a href="javascript:;">上海市静安区民办安蒙幼儿园</a></span><em><img src="./img/sanjiao.png"></em></div>
                                    <ul class="sewvbm">
                                        <li><a href="./html/kindergarten/kindergarten.html">上海市静安区民办安蒙幼儿园</a></li>
                                        <li><a href="./html/appointment/appointment.html">预约参观</a></li>
                                    </ul>
                                </div>
                                <div class="sewv nav-right other-nav nav04">
                                    <div class="sewvtop"><span><a href="javascript:;">安柏成人培训学校</a></span><em><img src="./img/sanjiao.png"></em></div>
                                    <ul class="sewvbm">
                                        <li><a href="./html/adult/adult.html">安柏成人培训学校</a></li>
                                        <li><a href="./html/train/train.html">培训报名</a></li>
                                    </ul>
                                </div>
                                <!-- 固定部分 -->
                            </div>
                            <div class="main-container">
                                <div class="form-content">
                                    <div class="form-item">
                                        <span class="label-title">宝宝姓名</span>
                                        <input type="text" name="name" class="baby-name">
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label-title">宝宝生日</span>
                                        <input type="text" id="demo-1" class="baby-birth">
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label-title">宝宝国籍</span>
                                        <input type="text" name='country' class="baby-country">
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label-title">宝宝性别</span>
                                        <div class="sewv sex">
                                            <div class="sewvtop"><span>请选择..</span><em><img src="./img/selebom.png"></em></div>
                                            <ul class="sewvbm">
                                                <li data-id="S001">男</li>
                                                <li data-id="S002">女</li>
                                            </ul>
                                        </div>
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label-title">家长姓名</span>
                                        <input type="text" name='parentname' class="parent-name">
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label-title">联系电话</span>
                                        <input type="tel" name='phone' class="parent-tel">
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                    </div>
                                    <div class="form-item">
                                        <span class="label-title">联系邮箱</span>
                                        <input type="text" name='email' class="parent-mail">
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label-title">参观校区</span>
                                        <div class="sewv visit">
                                            <div class="sewvtop"><span>请选择..</span><em><img src="./img/selebom.png"></em></div>
                                            <ul class="sewvbm">
                                                <li data-id="V001">上海市静安区民办安蒙幼儿园</li>
                                            </ul>
                                        </div>
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label-title">参观时间</span>
                                        <input type="text" id="demo-2" class="visit-time">
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label-title" style="float:left;margin-top:.20rem;">参观原因</span>
                                        <textarea name="text" id="" resize="none" style="margin-top:.20rem;"></textarea class="visit-reason">
                                        <i class="statu"></i>
                                    </div>
                                    <div class="warning-text" style="visibility: hidden;">请完善预约资料</div>
                                    <div class="buttons">
                                        <div class="submit-btn">
                                            <i class="iconright"></i>预约参观
                                        </div>
                                    </div>
                                </div>
                                <div class="main-bottom">
                                    <div class="qc-img"><img src="./img/qc-contact01.png" alt=""></div>
                                    <div class="text-box">
                                        <span class='text-content'>如您想及时获得安柏教育旗下幼儿园的教育资讯以及招生信息，请您扫描此二维码关注幼儿园官方微信。</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% include ./_parts/bottom %>
                </div>
            </div>
        </div>
    </div>
</div>