<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
    <div class="view view-main">
        <div class="pages">
            <div data-page="contact" class="page page-on-center contact_page">
                <% include ./_parts/top %>
                    <div class="main_content">
                        <!-- 导航栏 -->
                        <div class="nav-bar">
                            <div class="nav-level01"><span>安柏教育</span><i class="sanjiao"></i></div>
                            <div class="nav-level02"><span>联系我们</span><i class="sanjiao"></i></div>
                        </div>
                        <div class="main-container">
                            <div class="sh-center">
                                <header>上海地区教研基地</header>
                                <ul>
                                    <li class="clearfix">
                                        <div class="item-logo">
                                            <img src="./img/contact01.png" alt="">
                                        </div>
                                        <div class="item-info">
                                            <h3>上海市静安区民办安蒙幼儿园</h3>
                                            <div class="connect-info">
                                                <div> <i class="iconlocation"></i><span>上海市静安区北京西路 607 号</span></div>
                                                <div> <i class='iconphone'></i><span>021-52359722</span></div>
                                                <div><i class='iconinter'></i><span><a href="http://www.amber-edu.com.cn" target="_blank">www.amss.org.cn</a></span></div>
                                                <div> <i class='iconmail'></i><span><a href="mailto:amber.montessori@amss.org.cn">amber.montessori@amss.org.cn</a></span></div>
                                            </div>
                                        </div>
                                        <div class="item-qc">
                                            <img src="./img/qc-contact01.png" alt="">
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="item-logo">
                                            <img src="./img/contact02.png" alt="">
                                        </div>
                                        <div class="item-info">
                                            <h3>安柏成人培训学校</h3>
                                            <div class="connect-info">
                                                <div> <i class="iconlocation"></i><span>上海市静安区昌平路 68 号 3 幢 607 室</span></div>
                                                <div> <i class='iconphone'></i><span>021-62670866</span></div>
                                                <div> <i class='iconmail'></i><span><a href="mailto:training.school@amber-edu.com.cn">training.school@amber-edu.com.cn</a></span></div>
                                            </div>
                                        </div>
                                        <div class="item-qc">
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <div class="item-logo">
                                            <img src="./img/contact03.png" alt="">
                                        </div>
                                        <div class="item-info">
                                            <h3>长江0-3岁科学育儿国际研究院</h3>
                                            <div class="connect-info">
                                                <div> <i class='iconmail'></i><span><a href="mailto:acri@amber-edu.com.cn">acri@amber-edu.com.cn</a></span></div>
                                            </div>
                                        </div>
                                        <div class="item-qc">
                                            <img src="./img/qc-contact02.png" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                            <div class="propagation-unit">
                                <header>传播单位</header>
                                <ul>
                                    <li>
                                        <h3>上海安柏文化传播有限公司</h3>
                                        <div class="connect-info">
                                            <div> <i class="iconlocation"></i><span>上海市静安区昌平路 68 号 3 幢 607 室</span></div>
                                            <div> <i class='iconphone'></i><span>021-62670866</span></div>
                                            <div><i class='iconinter'></i><span><a href="http://www.amber-edu.com.cn" target="_blank">www.amber-edu.com.cn</a></span></div>
                                            <div> <i class='iconmail'></i><span><a href="mailto:amber@amber-edu.com.cn">amber@amber-edu.com.cn</a></span></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% include ./_parts/bottom %>
            </div>
        </div>
    </div>
</div>