<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
    <div class="view">
        <div class="pages">
            <div data-page="creater" class="page page-on-center creater_page">
                <div class="page-content">
                    <% include ./_parts/top %>
                        <div class="main_content">
                            <!-- 导航栏 -->
                            <div class="nav-bar">
                                <div class="nav-level01"><span>安柏教育</span><i class="sanjiao"></i></div>
                                <div class="nav-level02"><span>创始人说</span><i class="sanjiao"></i></div>
                            </div>
                            <div class="main-container">
                                <div class="img-content">
                                    <img src="./img/creater.png" alt="">
                                </div>
                                <div class="text-content">
                                    <p>这是一个浮躁的年代，容易被物质满足，精神却空虚彷徨。成为父母后，我们迷茫于如何成为合格的父母，容易被功利的育儿理念随波逐流，花大量的钱财在各类的培训机构缓解焦虑是现代父母的普遍现象。 </p>
                                    <p>我一直不厌其烦地在研究院给老师们、在幼儿园里给家长们强调“家庭教育”的重要性，因为我知道对于孩子而言，最需要的是一个充满着爱意、能够让心灵自由成长的家庭环境，这是所有培训机构都不能替代的。从婴儿时期就获得父母充分关爱的孩子，在成年后更懂得爱人，他们有着稳定的情绪，宽广的胸怀，并且能够健康而又茁壮的成长。 </p>
                                    <p>希望所有父母，都能让孩子在爱与自由中，找到属于自己的幸福。</p>
                                </div>
                                <div class="founder-signature">
                                    <span>安柏教育创始人：</span><img src="./img/signature.png" alt="">
                                </div>
                            </div>
                        </div>
                        <% include ./_parts/bottom %>
                </div>
            </div>
        </div>
    </div>
</div>