<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
    <div class="view view-main">
        <div class="pages">
            <div data-page="groupProfile" class="page page-on-center profile_page">
                <% include ./_parts/top %>
                    <div class="main_content">
                        <!-- 导航栏 -->
                        <div class="nav-bar">
                            <div class="nav-level01"><span>安柏教育</span><i class="sanjiao"></i></div>
                            <div class="nav-level02"><span>集团简介</span><i class="sanjiao"></i></div>
                        </div>
                        <div class="main-container">
                            <p>安柏教育集团是集0-3岁育儿研究、图书发行、高端幼儿园运营、幼师及家长等成人培训为一体的教育传播机构。安柏教育以“<span>尊重、自由、独立、专注</span>”为育儿宗旨，欲为中国 0--6 岁婴幼⼉家庭，提供专业的婴幼⼉教育类产品及专业服务，努力成为专业领域内的中国幼教第⼀品牌企业，为中国的幼教事业做出贡献。</p>
                            <img src="./img/profilepic.png" class="main-pic" alt="">
                            <div class="profile-item">
                                <div class="text-content">
                                    <header>安柏教育集团发展历史</header>
                                    <ul>
                                        <li>● 2012年，获长江少年儿童出版集团投资，乔吟创立安柏教育，并将上海静安区立恩蒙特梭利早期教育中心收购并更名为：上海静安区安柏蒙特梭利进修学校（武定路校区）。</li>
                                        <li>● 2012年，成立上海安柏文化传播有限公司。</li>
                                        <li>● 2013年，上海静安区安柏蒙特梭利进修学校——北京西路校区开园。</li>
                                        <li>● 2017年，长江集团重点打造，安柏教育业务板块除高端幼儿园外，拓展到图书制作、成人培训及0-3岁科学育儿研究领域。</li>
                                        <li>● 2017年，经教育局批准，上海静安区安柏蒙特梭利进修学校正式更名为：上海市静安区民办安蒙幼儿园。</li>
                                        <li>● 2017年，长江0-3岁科学育儿国际研究院成立，乔吟老师担任研究院院长，把科学教育从3-6岁延伸到0-3岁，致力于让0-3岁幼儿的家长重视家庭育儿的科学方法。</li>
                                        <li>● 2017年，安柏成人培训学校成立，致力于为幼教市场输送专业幼师课程，并为幼儿家长输送先进的育儿理念。</li>
                                    </ul>
                                </div>
                                <div class="pic-content">
                                    <img src="./img/picprofile01.png" alt="">
                                </div>
                            </div>
                            <div class="profile-item">
                                <div class="text-content">
                                    <header>安柏教育产品</header>
                                    <ul>
                                        <li>乔吟老师带领教研团队创造性的编写出：</li>
                                        <li>● 《耳朵先生》系列音乐绘本：填补中国0原创音乐绘本的空白。</li>
                                        <li>● 《乔老师说》系列科学育儿课：从脑科学、心理学角度出发，教会家长建立健康的亲子关系。</li>
                                        <li>● 《亲子感统100s》系列感统音乐课：在家就能上的专业感统训练，省时、省钱的同时增进亲子关系。</li>
                                        <li>● 成人学前教育培训课：挑选及引进全球特色教育体系、教学方法及优质师资和先进教育理念，打造完善的培训体系，为全国育儿机构及幼儿教师个体提供多样化的培训服务。</li>
                                    </ul>
                                </div>
                                <div class="pic-content">
                                    <img src="./img/picprofile02.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <% include ./_parts/bottom %>
            </div>
        </div>
    </div>
</div>