<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
    <div class="view view-main">
        <div class="pages">
            <div data-page="listen" class="page page-on-center listen_page">
                <% include ./_parts/top %>
                    <div class="main_content">
                        <!-- 导航栏 -->
                        <div class="nav-bar">
                            <div class="nav-level01"><span>长江0-3岁科学育儿</span><i class="sanjiao"></i></div>
                            <div class="nav-level02"><span>科学育儿教程</span><i class="sanjiao"></i></div>
                        </div>
                        <div class="main-container">
                            <div class="audio-main clearfix">
                                <div class="audio-left ">
                                    <header>《乔老师说》试听课</header>
                                    <audio controls="controls">
                                        <source src="./img/listen.mp3" type="audio/mp3">
                                        <source src="./img/listen.ogg" type="audio/ogg"> 你的浏览器不支持html5的audio标签
                                    </audio>
                                    <p>在很多人眼中，0-3岁的育儿教育更多集中在“保育知识”的教育上，人们常常认为这个阶段的宝宝除了吃喝拉撒睡等本能之外，其他什么也不懂，更不要谈什么人格发展、精神需求了。事实上，“婴儿从诞生的那一天起，就已经形成了自己独立的人格。”本套 《乔老师说》 科学育儿课程不提供那些看起来非常专业，实际上生涩难懂的育儿理论，也不提供关于吃喝拉撒睡的保育知识。提供的是教会家长，如何在宝宝0-3岁这个人生最初的阶段里，建立一种健康的亲子关系，一种亲密的精神联结。</p>
                                </div>
                                <div class="audio-right ">
                                    <img src="./img/teacherQiao" alt="">
                                </div>
                            </div>
                            <div class="main-bottom">
                                <div class="qc-img"><img src="./img/qc-changjiang.png" alt=""></div>
                                <span class='text-content'>关注长江0-3岁科学育儿国际研究院官方微信， 点击菜单即可购买相关课程。 </span>
                            </div>
                        </div>
                    </div>
                    <% include ./_parts/bottom %>
            </div>
        </div>
    </div>
</div>