<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
    <div class="view view-main">
        <div class="pages">
            <div data-page="sence" class="page page-on-center sence_page">
                <% include ./_parts/top %>
                    <div class="main_content">
                        <!-- 导航栏 -->
                        <div class="nav-bar">
                            <div class="nav-level01"><span>长江0-3岁科学育儿</span><i class="sanjiao"></i></div>
                            <div class="nav-level02"><span>感统音乐课程</span><i class="sanjiao"></i></div>
                        </div>
                        <div class="main-container">
                            <video src="./img/movie.mp4" controls="controls" type='video/mp4' style="width:100%;margin:0 auto;display: inherit;">
                                您的浏览器不支持 video 标签。
                            </video>
                            <div class="text-content">
                                <p> 感觉统合是指大脑将人体器官各部分感觉信息输入组合起来，经过统合整理作用，完成对身体内外各种刺激及知觉做出正确反应。六七岁以前，人脑像一部感觉处理器，幼儿主要依靠感官来学习。在这一阶段，幼儿经常动个不停，忙于寻找各种感觉刺激，这一阶段是他们的感觉统合运动发展的敏感期。最新研究调查显示，中国大中城市孩子感统失调率达到80%，其中30%感觉统合失调较为严重。感觉统合失常的造成，既有先天性的原因，也有后天教养环境如都市化生活，小家庭制度，隔代抚养等原因。感觉统合失调造成学龄前及学龄儿童的生活, 学习和交往中诸多行为失常：好动不安、注意力不集中、笨手笨脚、严重害羞、挑食好哭等，这些行为和现象也一直困扰着大部分老师和家长。
                                </p>
                                <p>《亲子感统100s》系列感统音乐训练由长江0-3岁科学育儿国际研究院研发，依据各个月龄段的不同幼儿发展生理及心理特点，结合特定的音乐及简单的器材，由家长带领孩子每天花费几分钟进行全方位的感觉统合运动游戏，为孩子们的健康成长打下坚实的基础。</p>
                            </div>
                            <img src="./img/tags.png" alt="" class="tags">
                            <div class="main-bottom ">
                                <div class="qc-img"><img src="./img/qc-changjiang.png" alt=""></div>
                                <span class='text-content'>关注长江0-3岁科学育儿国际研究院官方微信， 点击菜单即可购买相关课程。 </span>
                            </div>
                        </div>
                    </div>
                    <% include ./_parts/bottom %>
            </div>
        </div>
    </div>
</div>