<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
    <div class="view view-main">
        <div class="pages">
            <div data-page="training" class="page page-on-center training_page">
                <div class="page-content">
                    <% include ./_parts/top %>
                        <div class="main_content">
                            <!-- 导航栏 -->
                            <div class="nav-bar">
                                <!-- 每页不同部分 -->
                                <div class="sewv nav-left">
                                    <!-- 此处内容显示当前页一级标题 -->
                                    <div class="sewvtop"><span><a href="javascript:;">培训学校</a></span><em><img src="./img/sanjiao.png"></em></div>
                                    <ul class="sewvbm">
                                        <li class="nav01"><span>安柏教育</span></li>
                                        <li class="nav02"><span>长江0-3岁科学育儿国际研究院</span></li>
                                        <li class="nav03"><span>私立幼儿园</span></li>
                                        <li class="nav04"><span>培训学校</span></li>
                                    </ul>
                                </div>
                                <div class="sewv nav-right current">
                                    <div class="sewvtop"><span><a href="javascript:;">培训报名</a></span><em><img src="./img/sanjiao.png"></em></div>
                                    <ul class="sewvbm">
                                        <li><a href="./html/adult/adult.html">安柏成人培训学校</a></li>
                                        <li><a href="./html/train/train.html">培训报名</a></li>
                                    </ul>
                                </div>
                                <!-- 每页不同部分 -->
                                <!-- 固定部分 -->
                                <div class="sewv nav-right other-nav nav01">
                                    <div class="sewvtop "><span><a href="javascript:;">集团简介</a></span><em><img src="./img/sanjiao.png"></em></div>
                                    <ul class="sewvbm">
                                        <li><a href="./html/groupProfile/groupProfile.html">集团简介</a></li>
                                        <li><a href="./html/eduIdea/eduIdea.html">教育理念</a></li>
                                        <li><a href="./html/creater/creater.html">创始人说</a></li>
                                    </ul>
                                </div>
                                <div class="sewv nav-right other-nav nav02">
                                    <div class="sewvtop"><span><a href="javascript:;">育儿书籍推荐</a></span><em><img src="./img/sanjiao.png"></em></div>
                                    <ul class="sewvbm">
                                        <li><a href="./html/book/book.html">育儿书籍推荐</a></li>
                                        <li><a href="./html/listen/listen.html">感统音乐课程</a></li>
                                        <li><a href="./html/sence/sence.html">科学育儿课程</a></li>
                                    </ul>
                                </div>
                                <div class="sewv nav-right other-nav nav03">
                                    <div class="sewvtop"><span><a href="javascript:;">上海市静安区民办安蒙幼儿园</a></span><em><img src="./img/sanjiao.png"></em></div>
                                    <ul class="sewvbm">
                                        <li><a href="./html/kindergarten/kindergarten.html">上海市静安区民办安蒙幼儿园</a></li>
                                        <li><a href="./html/appointment/appointment.html">预约参观</a></li>
                                    </ul>
                                </div>
                                <div class="sewv nav-right other-nav nav04">
                                    <div class="sewvtop"><span><a href="javascript:;">安柏成人培训学校</a></span><em><img src="./img/sanjiao.png"></em></div>
                                    <ul class="sewvbm">
                                        <li><a href="./html/adult/adult.html">安柏成人培训学校</a></li>
                                        <li><a href="./html/training/training.html">培训报名</a></li>
                                    </ul>
                                </div>
                                <!-- 固定部分 -->
                            </div>
                            <div class="main-container">
                                <div class="form-content">
                                    <div class="form-item">
                                        <span class="label">报名课程</span>
                                        <div class="sewv listen">
                                            <div class="sewvtop"><span>请选择..</span><em><img src="./img/selebom.png"></em></div>
                                            <ul class="sewvbm">
                                                <li data-id="L001">幼师培训课程</li>
                                                <li data-id="L002">家长培训课程</li>
                                            </ul>
                                        </div>
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label">报名身份</span>
                                        <div class="sewv identify">
                                            <div class="sewvtop"><span>请选择..</span><em><img src="./img/selebom.png"></em></div>
                                            <ul class="sewvbm">
                                                <li data-id="I001">安柏下属幼儿园家长</li>
                                                <li data-id="I002">幼师</li>
                                                <li data-id="I003">其他</li>
                                            </ul>
                                        </div>
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label">参与人群</span>
                                        <div class="sewv people">
                                            <div class="sewvtop"><span>请选择..</span><em><img src="./img/selebom.png"></em></div>
                                            <ul class="sewvbm">
                                                <li data-id="P001">个人</li>
                                                <li data-id="P002">夫妻</li>
                                                <li data-id="P003">团体</li>
                                            </ul>
                                        </div>
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label">真实姓名</span>
                                        <input type="text" name='name' class="true-name">
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label">联系电话</span>
                                        <input type="tel" name='phone' class="phone">
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label">电子邮箱</span>
                                        <input type="email" name='email' class="email">
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label">工作单位</span>
                                        <input type="text" name='workAddress' class="work-address">
                                        <i class="statu"></i>
                                    </div>
                                    <div class="form-item">
                                        <span class="label">所在城市</span>
                                        <input type="text" name='city' class="city">
                                        <i class="statu"></i>
                                    </div>
                                    <div class="warning-text " style="visibility: hidden;">请完善报名资料</div>
                                    <div class="buttons">
                                        <div class="submit-btn">
                                            <i class="iconright"></i>报名提交
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% include ./_parts/bottom %>
                </div>
            </div>
        </div>
    </div>
</div>