<div class="top-bar">
    <div class="left-icon">
        <div class="hamburger" id="hamburger-1">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
    <div class="logo-content">
        <img src="./img/logo.png" alt="">
    </div>
    <div class="right-icon">
        <span><a href="#">English</a></span>
    </div>
</div>