<div class="top-bar">
    <div class="left-icon">
        <div class="hamburger" id="hamburger-1">
            <a href="#" data-popover=".popover-links" class="link open-popover">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    </a>
        </div>
    </div>
    <div class="logo-content">
        <a href="./index.html"><img src="./img/logo.png" alt=""></a>
    </div>
    <div class="right-icon">
        <span><a href="#">English</a></span>
    </div>
</div>