@charset "UTF-8";
@import 'base/base';

.sence_page {
    .main-bottom {
        height: 1rem;
        background-color: #023894; // line-height: 1.10rem;
        margin: 0 auto;
        width: 100%;
        border-radius: .50rem;
        .qc-img {
            float: left;
            width: .76rem;
            height: .76rem;
            margin-left: .5rem;
            padding-top: .02rem;
            padding-left: .02rem;
            display: inline-block;
            img{
            	width: 100%;
            }
        }
        .text-content {
            display: inline-block;
            width: 70%;
            color: #ffffff;
            font-size: .26rem;
            margin-top: 0;
            padding-left: .2rem;

        }
    }
    .text-content {
        margin-top: .36rem;
        p {
            text-align: justify;
            text-indent: 2em;
            font-size: .28rem;
            line-height: .54rem;
            color: #434343;
        }
    }
    .tags {
        width: 100%;
        margin: .24rem 0;
    }
    video{
    	background-color: #dddddd;
    }
}