@charset "UTF-8";
@import "./parts/_fn.scss";
@import "./parts/_settings.scss";
html {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

html,
body {
    -webkit-user-select: element;
    -moz-user-select: element;
    -ms-user-select: element;
    user-select: element;
}

html,
body,
div,
object,
iframe,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
address,
dl,
dt,
dd,
ol,
ul,
li,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
progress {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    color: #434343;
}

a {
    text-decoration: none;
    -webkit-touch-callout: none;
    background-color: transparent
}

li {
    list-style: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0;
    -webkit-touch-callout: none;
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a,
button,
input,
optgroup,
select,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
    line-height: normal
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}





.error-statu {
    width: .50rem;
    height: .45rem;
    display: inline-block;
    background: url('../img/errorstatu.png') no-repeat;
    background-size: .32rem .32rem;
}

.success-statu {
    width: .50rem;
    height: .45rem;
    display: inline-block;
    background: url('../img/successStatu.png') no-repeat;
    background-size: .32rem .32rem;
}

.statu {
    width: .50rem;
    height: .45rem;
    display: inline-block;
    visibility: hidden;
}














/* 下拉框 */

.main-container {
    .sewv {
        position: relative;
        width: 60%;
        display: inline-block;
        vertical-align: middle;
    }

    .sewv+i {
        margin-left: .05rem;
    }

    .sewvtop {
        width: 100%;
        height: .60rem;
        border: .02rem #e6e6e6 solid;
        cursor: pointer;
        border-radius: .04rem;
        overflow: hidden;
        background-color: #fff;
    }

    .sewvtop:hover {
        /* border: 1px #57c5f7 solid; */
    }

    .sewvtop>span {
        float: left;
        text-align: center;
        width: 100%;
        height: .60rem;
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: .28rem;
        line-height: .60rem;
        color: #434343;
        vertical-align: middle;
    }

    .sewvtop>em {
        position: absolute;
        right: 0rem;
        top: .1rem;
        width: .40rem;
        height: .40rem; // border-left:.02rem solid #c3c3c3;
        img {
            width: .36rem;
        }
    }

    .sewvbm {
        width: 100%;
        position: absolute;
        left: 0;
        top: .65rem;
        display: none;
        border: .02rem #c3c3c3 solid;
        border-radius: .04rem;
        z-index: 999;
        background-color: #fff;
    }

    .sewvbm>li {
        cursor: pointer;
        width: 100%;
        height: .60rem;
        line-height: .60rem;
        font-size: .24rem;
        text-align: center;
        color: #434343;
        /* padding-left: 5px; */
        border-bottom: .02rem solid #c3c3c3;
        overflow: hidden;
    }

    .sewvbm>li:nth-last-child(1) {
        border-bottom: none;
    }

    .sewvbm>li:hover {
        background: #8aa3d4;
        color: #fff;
    }
}


.nav-bar {
    width: 100%;
    color: #fff;
    .nav-left.sewv {
        width: 50%;
        background-color: #023894;
        .sewvtop {
            border: none;
            span {
                display: table; // width: 100%;
                line-height: 0;
                vertical-align: middle;
                text-align: center;
                a {
                    // width: 60%;
                    font-size: .26rem;
                    line-height: .30rem;
                    padding: 0 .64rem;
                    display: table-cell;
                    vertical-align: middle
                }
            }
        }
        div {
            background-color: #023894;
        }
        .sewvbm {
            li {
                background-color: #023894;
                color: #FFF;
                line-height: 0;
                vertical-align: middle;
                display: table; // width:3.2rem
                span {
                    // width: 60%;
                    font-size: .26rem;
                    line-height: .30rem;
                    padding: 0 .64rem;
                    vertical-align: middle;
                    display: table-cell;
                }
            }
        }
    }
    .nav-right.sewv {
        width: 50%;
        background-color: #8aa3d4;
        div {
            background-color: #8aa3d4;
        }
        .sewvtop {
            // width: 100%;
            border: none;

            span {
                display: table; // width: 100%;
                line-height: 0;
                padding: 0 .64rem;
                text-align: center;
                vertical-align: middle;
                a {
                    // width: 60%;
                    font-size: .26rem;
                    line-height: .30rem;
                    display: table-cell;
                    vertical-align: middle;
                    
                }
            }
        }
        .sewvbm {
            li {
                background-color: #8aa3d4;
                color: #FFF;
                line-height: 0;
                vertical-align: middle;
                display: table;
                a {
                    width: 60%;
                    font-size: .26rem;
                    line-height: .30rem;
                    padding: 0 .64rem;
                    vertical-align: middle;
                    display: table-cell;
                }
            }
        }
    }
    a,
    span {
        color: #fff;
    }
    /* 下拉框 */
    .sewv {
        position: relative;
        width: 60%;
        display: inline-block;
        vertical-align: middle;
    }

    .sewv+i {
        margin-left: .05rem;
    }

    .sewvtop {
        width: 100%;
        height: .80rem;
        border: .02rem #e6e6e6 solid;
        cursor: pointer;
        border-radius: .04rem;
        overflow: hidden;
        background-color: #fff;
    }

    .sewvtop:hover {
        /* border: 1px #57c5f7 solid; */
    }

    .sewvtop>span {
        // // float: left;
        // text-align: center;
        // margin-left:20%;
        width: 100%; // display:inline-block;
        // margin:0 auto;
        height: .80rem; // // white-space: pre;
        // // text-overflow: ellipsis;
        // // overflow: hidden;
        // font-size: .24rem;
        line-height: .80rem; // vertical-align: middle;
    }

    .sewvtop>em {
        position: absolute;
        right: 0.4rem;
        top: 0rem;
        width: .22rem;
        height: .22rem; // border-left:.02rem solid #c3c3c3;
        img {
            width: .22rem;
        }
    }

    .sewvbm {
        width: 100%;
        position: absolute;
        left: 0;
        top: .80rem;
        display: none;
        border: .02rem #c3c3c3 solid;
        border-right: none;
        border-bottom: none;
        border-radius: .04rem;
        z-index: 999;
        background-color: #fff;
    }

    .sewvbm>li {
        cursor: pointer;
        width: 100%;
        height: .80rem;
        line-height: .80rem;
        font-size: .24rem;
        text-align: center;
        /* padding-left: 5px; */
        border-bottom: .02rem solid #c3c3c3;
        overflow: hidden;
        a {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .sewvbm>li:nth-last-child(1) {
        border-bottom: none;
    }
}

.lbaxztop {
    -webkit-animation: rotatete 0.3s linear forwards;
    animation: rotatete 0.3s linear forwards;
}

.lbaxztop2 {
    -webkit-animation: rotatete2 0.3s linear forwards;
    animation: rotatete2 0.3s linear forwards;
}



.sewv.other-nav.nav-right {
    display: none;
}