<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
    <div class="view view-main">
        <div class="pages navbar-fixed">
            <div data-page="test" class="page">
              
   					<li class='red'> hehe</li>
			
   					<li class='red'> hehe</li>
			
   					<li class='red'> hehe</li>
			
   					<li class='red'> hehe</li>
			
   					<li class='red'> hehe</li>
			
   					<li class='red'> hehe</li>
			
   					<li class='red'> hehe</li>
			
   					<li class='red'> hehe</li>
			
            </div>
        </div>
    </div>
</div>